.container {
    width: 1400px;
    margin: auto;
}
.navigation-content {
    display: flex;
    align-items: center;
    height: 70px;    
}
.background-nav {
    background-color: #000000;
    height: 70px;
}
.logo {
    height: 31px;
    width: 68px;
    color: #FFFFFF;
    padding: 20px 110px;
    font-size: 30px;
    line-height: 35.16px;
    font-family: 'Raleway', sans-serif;
}
.logo::after {
    content: "IT";
    font-family:'Roboto', sans-serif;
    color:rgb(236, 121, 121);
    font-size: 30px;
    line-height: 35.16px;
} 
.menu-navigation {
    display: flex;
    justify-content: space-between;
    width: 489px;
    height: 20px;
    margin-left: 500px;
}
.list-menu-nav {
    height: 20px;
    font-family:'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    opacity: 70%;
}
.content-header {
    height: 600px;
    display: flex;
}
.menu-header {
    width: 809px;
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}
.logo-menu-header {
    height: 70px;
    width: 129px;
    margin-top: 109px;
    color: #FFFFFF;
    font-size: 60px;
    line-height: 70.16px;
    font-family:'Roboto', sans-serif;  
}
.logo-menu-header::after {
    content: "IT";
    font-family:'Roboto', sans-serif;
    color:rgb(236, 121, 121);
    font-size: 60px;
    line-height: 70.16px;
}
.title-menu-header {
    width: 544px;
    height: 99.26px;
    margin-top: 32px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 36px;
    line-height: 42px;
}
.menu-header__element {
    border: 1px solid #FFFFFF;
    width: 64px;
    margin-top: 32px;
}
.subtitle-menu-header {
    width: 283px;
    height: 38px;
    margin-top: 39px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
    color: #FFFFFF;
    opacity: 80%;
    font-family: 'Raleway', sans-serif;
}
.button-menu-header {
    height: 42px;
    width: 135px;
    margin-top: 39px;
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-text {
    width: 83px;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.form-header {
    width: 370px;
    height: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 110px;
}
.title-form-header {
    width: 370px;
    height: 56px;
    font-family: 'Raleway', sans-serif;
    color:rgb(236, 121, 121);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}
.title-form-header::before {
    content: " Try Your\00a0 ";
    font-family:'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 27px;
}
.title-form-header::after {
    content: " \00a0Trial Today ";
    font-family:'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    line-height: 27px;
}
.title-form-header {
    display: flex;
    align-items: center;
    justify-content: center;  
}
.data-form {
    height: 261px;
    width: 370px;


}
li {
    height: 65px;
    border-bottom: solid 2px;
    display: flex;
    align-items: center;
    width: 252px;
    font-family: 'Raleway', sans-serif;
    color: #BDBDBD;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;

}
ul {
    margin-left: 59px;
}
.button-form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 53px;
    background-color: rgb(236, 121, 121);
    border-radius: 0px 0px 8px 8px;
}
.content-social {
    width: 1400px;
    height: 110px;
    background-color: #F8EFEF;
    display: flex;
}
.social-title {
    display:flex;
    flex-direction: column;
    margin: 0px 111px;
    width: 384px;
}

.social-header {
    width: 125px;
    height: 27px;
    margin-top: 14px;
    font-family:'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
}
.social-subtitle {
    width: 365px;
    height: 38px;
    margin-top: 14px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.social-icons__list {
    display: flex;
    justify-content: space-between;
    width: 684px;
    height: 42px;
    margin-top: 35px;
}
.social-icons__list div {
    color: rgb(177, 172, 172);
    font-size: 33px;
}
.feature-content {
    height: 600px;
    margin: 0px 110px;
    display: flex;
    justify-content: space-between;
}
.button-feature > button {
    width: 112px;
    height: 110px;
    margin: 0px 0px 10px 0px;
    background-color: #333333;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    color: white; 
    border-radius: 5%;
}
.button-feature {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
    width: 170px;
}
.button-feature > button:nth-child(2n) {
   background-color: rgb(236, 121, 121);
   color: white;
   border: solid rgb(236, 121, 121);
}
.title-feature {
    height: 27px;
    width: 408px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    margin-top: 125px;
}
.text-feature__description {
    height: 133px;
    width: 572px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 58px;
}
.button-feature__text {
    width: 83px;
    height: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.button-feature__element {
    background-color: rgb(236, 121, 121);
    height: 42px;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
}
.picture-feature {
    margin: 100px 3px 0px 0px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
}
.head_title {
    margin: 40px 10px 20px 10px;
    text-align: center;
    font-size: x-large;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
}
.line_title {
    width: 90px;
    border-bottom: solid 1px orange;
}
.sub_title {
    margin:15px 10px;
    text-align: center;
    font-size: small;
}
.baner-content {
    display: flex;
    justify-content: space-around;
    height: 345px;
}
.menu-1, .menu-2, .menu-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 35px;
    max-width: 210px;
}
.title-menu {
    margin: 40px 5px;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
}
p {
    font-size: small;
    text-align: center;
}
.images-menu {
    border: 2px solid #ffa50075;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricing-content {
    height: 800px;
} 
.pricing-head {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.pricing-title {
    height: 42px;
    width: 409px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;

} 
.pricing-title__element {
    border-bottom: solid rgb(236, 121, 121);
    height: 2px;
    width: 64px;
}

.pricing-subtitle {
    height: 19px;
    width: 363px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.pricing-rectangl__1 > ul > li, .pricing-rectangl__2 > ul > li, .pricing-rectangl__3 > ul > li {
    height: 42px;
    width: 340px;
    border: none;
    background-color:white;
    margin-bottom: 2px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.pricing-rectangl__2 {
    margin-top: -26px;
}
.pricinge-table {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.pricing-rectangl__3 > ul > li:hover {
    border: solid red 1px;
}
.pricing-rectangl__1 > ul > li:hover {
    border: solid red 1px;
}
.pricing-rectangl__2 > ul > li:hover {
    border: solid red 1px;
}
.pricing-rectangl__2 > ul > li:nth-child(-n+3) {
    color:white;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    background-color: #333333;
}
.pricing-rectangl__2 > ul > li:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}
.pricing-rectangl__2 > ul > li:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: #F5F5F5;
}
.pricing-rectangl__2 > ul > li:nth-child(2) {
   height: 100px;
}
.pricing-rectangl__3 > ul > li:nth-child(-n+3) {
    color:white;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    background-color: #333333;
}
.pricing-rectangl__3 > ul > li:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}
.pricing-rectangl__3 > ul > li:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: #F5F5F5;
}
.pricing-rectangl__3 > ul > li:nth-child(2) {
   height: 100px;
}
.pricing-rectangl__1 > ul > li:nth-child(-n+3) {
    color:white;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    background-color: #333333;
}
.pricing-rectangl__1 > ul > li:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
}
.pricing-rectangl__1 > ul > li:nth-child(3) {
    font-size: 14px;
    font-weight: 400;
    color: #F5F5F5;
}
.pricing-rectangl__1 > ul > li:nth-child(2) {
   height: 100px;
}
.pricing-rectangl__1 > ul, .pricing-rectangl__2 > ul, .pricing-rectangl__3 > ul {
    margin: 30px;
}
.testimonials-content {
    height: 600px;
}
.head-testimonials {
    height: 205px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.testimonials-title {
    height: 42px;
    width: 668px;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: #212121;
    text-transform: uppercase;
    margin-top: 80px;
}
.testimonials-title__element {
    height: 2px;
    width: 64px;
    border-bottom: solid rgb(255, 0, 0);
}
.testimonials-subtitle {
    height: 19px;
    width: 363px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}
.manager-testimonials {
    height: 140px;
    width: 290px;
    position: absolute;
    margin-bottom: 40px;
}
.manager-description{
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #86878B;
    border-radius: 8px;
    background-color: #E2E2E2;
    width: 289px;
    height: 110px;
    display: flex;
    align-items: center;
}
.picture-manager {
    height: 70px;
    width: 70px;
    margin: -20px 32px;
}
.name-manager {
    width: 90px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #333333;
    text-align: right;
    margin: -32px 33px;
}
.name-manager::after {
    content: " Manager";
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    color: #86878B;
}
.menu-block {
    width: 330px;
    height: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.menu-testimonials {
    display: flex;
    justify-content: space-around;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
}
.header-main_element {
    width: 60px;
    border-bottom: solid 1px white;
    margin-bottom: 20px;
}
.header-main {
    margin: 60px 0px 40px;
    color: white;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
}
.header-main_sub {
    margin: 20px 0px;
    color: white;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
}
.header-main_link {
    margin: 20px 0px;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    font-size: large;
    padding: 7px;
}
.background {
    background-color: black;
    opacity: 55%;
}
.contact-content {
    height: 700px;
}
.header-contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.title-head-contact {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    text-transform: uppercase;
}
.title-head-contact__element {
    width: 64px;
    border-top: solid 2px rgb(236, 121, 121);
}
.subtitle-head-contact {
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}
.menu-form-contact__1 > ul > li {
    width: 478px;
    margin-right: 59px;
}
.menu-form-contact__2 > ul > li {
    width: 478px;
    margin-right: 59px;
}
.form-contact {
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.menu-form-contact__1 > ul > li:nth-child(3n) {
    height: 95px;
}
.menu-form-contact__2 > ul > li:nth-child(3n) {
    height: 95px;
}
.menu-form-contact__2 > ul > li:nth-child(-n+2) {
    border-bottom: white solid;
}
.button-contact__push {
    height: 42px;
    width: 166px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    background-color:rgb(236, 121, 121);
    color: #FFFFFF;
}
.button-contact {
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.end-footer {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.list-footer {
    display: flex;
    justify-content: center;
}
.list-footer__element {
    margin: 17px;
}
.background-footer {
    background-color:rgb(51, 51, 51);
    height: 101px;
}
.list-footer {
    height: 70px;
}
.list-footer__element {
    display: flex;
}
