//compress: false
body {
    background-color: rgb(253, 253, 255);
}
.wrapper {
    max-width: 1600px;
    max-height: 1200px;
    margin: auto;
    .back__img_unio {
        position: absolute;
        z-index: -1;
        margin-top: -160px;
        img {
            width: 100%;
        }
    }
    // .back__img_elips {
    //     position: absolute;
    //     margin: 798px 0px 0 1218px;
    //     img {
    //         width: 100%;
    //     }
    // } 
}
.container {
    background-color: #FDFDFF;
    display: grid;
    grid-template-columns: 98px 1fr;
    max-width: 1280px;
    height: 880px;
    border: 1px solid #EBEBEB;
    border-radius: 14px;
    margin: 160px auto;
}
.sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.65fr 0.35fr;
    grid-template-columns: 1fr;
   
    ;
    .logo__vk img {
        width: 42px;
        height: 24px;
        margin: 46px 0 0px 23px;
    }
    .aside__menu {
        grid-row-start: 2;
        grid-row-end: 4;
        .menu__list {
            height: 440px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            li:hover {
                background-color: rgb(127, 127, 213);
                border-radius: 5px;
                transition-duration: 1s, 700ms, 500ms;
            }
        
        }
    }
    // #########################################slider########
    .switch {
        grid-row-start: 5;
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        margin-left: 18px;
      }
      .round {
        
      }
      
      .switch input {
          display:none;
        }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       
        border:solid 1px #ccc;
        -webkit-transition: .4s;
        transition: .4s;

      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 6px;
        bottom: 5px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: rgb(232, 138, 216);
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 34px;
      }
      
      .slider.round:before {
        background-color: rgb(127, 127, 213);
        background-image: url(img/slide_el.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
      }
    //   ###################################slider_end####
}
.content {
    background-color: #EFF3F9;
    display: grid;
    grid-template-rows: 150px 1fr;
    border-radius: 0 14px 14px 0;
}
.header {
    display: grid;
    grid-template-columns: 161px 200px 0.05fr 1fr ;
    align-items: center;
    margin: 50px;
    
    h1 {
        width: 128px;
        font-family: "Gilroy Bold";
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #4F4F4F;
    }

    .images__input img {
        width: 22px;
        height: 22px;
        color: #000;
        cursor: pointer;
    }
    .lupa__input {
        width: 173px;
        height: 32px;
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 8px;
        
        img {
            margin-left: 15px;
            height: 12px;
        }
    }
    .user__header {
        display: flex;
        align-items: center;
        grid-column: end;
    }
    .name__user {
        font-family: "Gilroy Bold";
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        color: #4F4F4F;
        margin-right: 15px;
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
        }
    }
    .logo__user {
        margin-right: 10px;
        cursor: pointer;
    }
    .element__user img {
        width: 10px;
        height: 6px;
        cursor: pointer;
    }
}
.lupa__input input {
    font-family: "Gilroy Medium";
    font-size: 1rem;
    font-weight: 400;
    border: solid white;
    border-radius: 8px ;
    width: 137px;
    outline: none;
}

.main {
    display: grid;
    padding: 0 45px 18px 50px;
}


.grid__row_1 {
    display: grid;
    grid-template-areas: 
    "friends uniq followers";
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 148px;
    column-gap: 32px;
} 
.grid__row_3 {
    display: grid;
    grid-template-areas: 
    "gender geo";
    grid-template-columns: 0.64fr 0.36fr;
    grid-template-rows: 242px;
    column-gap: 32px;
}
.grid__row_2 {
    display: grid;
    grid-template-areas: 
    "audience reach";
    grid-template-columns: 0.72fr 0.28fr;
    grid-template-rows: 242px;
    column-gap: 32px;
    .audience__main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-template-columns: repeat(3, minmax(167px, 250px));
        grid-template-rows: 0.84fr 01.58fr;

        .audience__title {
            //styleName: h2;
        font-family: "Gilroy SemiBold";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        color: #4F4F4F;
        margin: 24px;
        }
        .audience__data {
            //styleName: table text;
        font-family: "Gilroy Medium";
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        color: #4F4F4F;
        margin: 30px 10px;
        display: flex;
        justify-content: flex-end;
        }
        .element__user img {
            width: 10px;
            height: 6px;
            cursor: pointer;
            margin: -1px 0px 0px 5px;
        }
        .audience__check {
            display: grid;
            grid-template-columns: 1fr 1fr 50px;
            grid-template-rows: 1fr 1fr 1fr;
            font-family: "Gilroy Medium";
            .checkbox {
                grid-row-start: 2;
                display: flex;
                justify-content: flex-end;
                align-items: baseline;
                margin-right: 10px;
            } 
             /* для элемента input c type="checkbox" */
        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
      }
      /* для элемента label, связанного с .custom-checkbox */
       .custom-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
      }
      /* создание в label псевдоэлемента before со следующими стилями */
        .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
      }
      /* стили при наведении курсора на checkbox */
        .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
            border-color: rgb(232, 138, 216);
      }
      /* стили для активного чекбокса (при нажатии на него) */
        .custom-checkbox:not(:disabled):active+label::before {
            background-color: white;
            border-color:black;
            color: rgb(127, 127, 213);
      }
      /* стили для чекбокса, находящегося в состоянии checked */
        .custom-checkbox:checked+label::before {
            border-color: rgb(127, 127, 213);
            background-color: white;
            background-image: url("img/check.png");
      }
      /* стили для чекбокса, находящегося в состоянии disabled */
        .custom-checkbox:disabled+label::before {
            background-color: #e9ecef;
      }
        }
        .audience__shedule {
            grid-row-start: span 1;
            grid-column-end: span 3;
            margin: 0 auto;
        }
    }
}

.col__main {
    background-color: #fdfdff;
    border-radius: 13px;
}
.friends__main {
    // width: 341px;
    grid-area: friends;
    display: grid;
    grid-template-columns: 1fr 0.45fr;
}
.uniq__main {
    grid-area: uniq;
    display: grid;
    grid-template-columns: 1fr 0.45fr;
}
.followers__main {
    grid-area: followers;
    display: grid;
    grid-template-columns: 1fr 0.45fr;
}
.cell__1__row_1 {
    font-family: "Gilroy Bold";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #4F4F4F;
    margin: 25px 0 0 23px;
}
.cell__2__row_1 {
    padding: 30px 15px 0px 45px;
    img {
        cursor: pointer;
    }
}
.cell__3__row_1 {
    font-family: "Gilroy Medium";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color:#4F4F4F;
    margin: 12px 0px 0px 23px;
}
.cell__4__row_1 {
    font-family: "Gilroy Medium";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color:#4F4F4F;
    margin: 12px 0px 0px 0px;
}
.cell__4__row_1::after {
    content: "  "url(img/vector_up.png);
}
.uniq__main > .cell__4__row_1::after {
    content: "  "url(img/vector_down.png);
}
.audience__main {
    grid-area: audience;
    .audience__shedule img {
        width: 100%;
    }
    // #############################checkbox
}
.reach__main {
    grid-area: reach;
    display: grid;
    grid-template-columns: 1.44fr 1fr;
    grid-template-rows: 75px 1fr;
    // width: 288px;
    .title__reach {
        grid-column-start: span 2;
        font-family: "Gilroy Bold";
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        color: #4F4F4F;
        margin: 25px;
    }
    .shedule__reach {
        .elipse_shedule-big {
            img {
                margin: 0px 0px 31px 23px;
            }
            span {
                position: absolute;
                margin: 62px 0px 0px -103px;
                font-family: Gilroy;
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                color: #FDFDFF;
            }
        }
        .elipse_shedule-sm {
            img {
                position: absolute;
                margin: -148px 0px 0px 97px;
            }
            span {
                position: absolute;
                margin: -124px 0px 0px 119px; 
                font-family: Gilroy;
                font-size: 12px;
                font-weight: 600;
                line-height: 14px;
                color: #FDFDFF;
            }
        }
    }
    .shedule__item {
        display: grid;
        grid-template-columns: 26px 1fr;
        grid-template-rows: 27px 20px;
        span {
            font-family: "Gilroy Medium";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px;
            color: #4F4F4F;
        }
        .shedule__items-1 {
            height: 16px;
            width: 16px;
            border-radius: 5px;
            background-color:#E786D7;
        }
        .shedule__items-2 {
            height: 16px;
            width: 16px;
            border-radius: 5px;
            background-color: #7F7FD5;
        }
    }
}
.gender__main {
    grid-area: gender;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    .title__gender {
    font-family: "Gilroy Bold";
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 25px 0 0 25px;
    color: #4F4F4F;
    }
    .shedule__item_gender {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 30px;
        span {
            font-family: "Gilroy Medium";
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 14px;
            color: #4F4F4F;
            margin: 0 10px 0 0;
        }
        div {
            margin: 0 8px;
        }
        .shedule__items-1 {
            height: 16px;
            width: 16px;
            border-radius: 5px;
            background-color:#E786D7;
            
        }
        .shedule__items-2 {
            height: 16px;
            width: 16px;
            border-radius: 5px;
            background-color: #7F7FD5;
        }
    }
    .shedule__gender {
        grid-column-start: span 2;
        margin: 0 0 0 10px;
        img {
            width: 100%;
        }
    }
}
.geo__main {
    grid-area: geo;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    div {
        margin: auto;
    }
    .title__geo {
    font-family: "Gilroy Bold";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #4F4F4F;
    margin-left: 25px;
    }
    .adress__geo {
    font-family: "Gilroy Medium";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    color: #4F4F4F;
    padding-left: 67px;
    }
    .adress__geo::after {
        content: " City";
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 14px;
        margin-left: 7px;
        color: #979797;
    }
    .shedule__geo-left {}
    .shedule__geo-right {}
}
@media  (max-width: 1320px) {
    .container {
        margin: 10px;
    }

}
@media (max-width: 992px) {
    
.container {
    border-radius: 14px;
    margin: 5px;
    grid: none;
    .header {
        height: 80px;
        margin: -5px 50px;
    }
    .content {
        grid-template-rows: 70px 700px;
        border-radius: 0 0 14px 14px;
        .main {
            padding: 0 20px 0px 20px;
        }
    }
    .sidebar {
        grid: none;
        display: flex;
        justify-content: space-between;
        .aside__menu {
            width: 300px;
        }
        .switch {
            margin: 25px;
        }
        .menu__list {
            flex-direction: row;
            height: 100%;
        }
        .logo__vk img {
            margin-top: 25px;
        }
    }
}
}
@media (max-width:767px) {
   .container{
    border-radius: 14px;
    margin: 4px;

    .sidebar {
        justify-content: center;
        .logo__vk {
            margin: 3px 20px 0 0;
        }
    }
    .content {
        border-radius: 0 0 14px 14px;
        .header {
            grid-template-columns: 161px 180px 0.05fr 1fr;
        }
        grid-template-rows: 1fr;
    }
}
    .sidebar {
        display: flex;
        justify-content: center;
    }
    .switch {
        margin: 25px 20px 0px 25px;
    }
    .logo__vk {}
    .grid__row_1 {
        grid: none;
        gap: 16px;
        padding: 0 16px;
        .friends__main  {
            grid-column-start: 1;
            grid-row-start: 1;
            height: 120px;
            width: 400px;
            margin: auto;
        }
        .uniq__main {
            grid-column-start: 1;
            grid-row-start: 2;
            height: 120px;
            width: 400px;
            margin: auto;
        }
        .followers__main {
            grid-column-start: 1;
            grid-row-start: 3;
            grid-row-end: 4;
            height: 120px;
            width: 400px;
            margin: auto;
        }
    }
    
    .grid__row_2 {
        grid: none;
        gap: 16px;
        padding: 0 16px;
        margin-top: 20px;
        .audience__main {
            grid-column-start: 1;
            grid-row-start: 1;
            height: 190px;
            width: 436px;
            margin: auto;
        }
        .reach__main {
            grid-column-start: 1;
            grid-row-start: 2;
            grid-row-end: 3;
            height: 200px;
            width: 400px;
            margin: auto;
        }
    }
    .grid__row_3 {
        grid: none;
        gap: 16px;
        padding: 0 16px;
        margin: 20px;
    }
    .gender__main {
            grid-column-start: 1;
            grid-row-start: 1;
            height: 190px;
            width: 436px;
            margin: auto
    }
    .geo__main {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 3;
        height: 200px;
        width: 400px;
        margin: auto;
    }
    .audience__main {
        grid-area: audience;
        .audience__shedule img {
            width: 94%;
        }
    }
}