.header {
background: rgb(179, 228, 221);
color: red;
border: black solid;
border-radius: 5%;
width: 90%;
font-weight: 900;  
margin: auto ;
cursor: pointer ;
}
.section {
background: rgb(222, 215, 245);
width: 90%;
font-weight: 600;
margin: auto;
border-radius: 2%;
padding: 20px;
}
.main {
background: rgb(144, 238, 186) ;
cursor: wait;
width: 600px;
margin: 20px;
border-radius: 2%;
padding: 2px;
}
.text_main {
overflow: scroll;
width: 550px;
height: 200px; 
padding: 5px; 
border: solid 2px black;
}
.footer {
background: rgb(91 155 211);
margin: 20px;
padding: 15px;
}
.container {
margin: 20px;
background-color: white;
}
.border {
color: red;
height: 100px;
width: 300px;
padding: 3px;

}
#a {
color: rgb(177, 26, 26);
background: rgb(138, 120, 236);
border-radius: 90%;
}
a {
    color: red;
    background: rgb(7, 0, 0);
}
body {
background: rgb(67, 172, 233);
}
ul {
    list-style-type: circle;
}
ol {
    list-style-type: upper-roman;
}
.hide { 
    visibility: hidden; 
}
.visual:hover + .hide {
    visibility: visible;
}
