.container {
  width: 1442px;
  margin: auto;
}
.backgrounde-header {
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/bg.png);
}
.title-header-capital {
  width: 583px;
  height: 60px;
  font-family: 'Bebas Neue', cursive;
  font-size: 60px;
  letter-spacing: 5.7093749px;
  text-align: center;
  color: #FFFFFF;
}
.content-header {
  height: 769px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-header {
  width: 583px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 319px;
}
.title-header-sub {
  width: 386px;
  height: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}
.header-scroll {
  width: 120px;
  height: 15px;
  margin-bottom: 71px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 3.70000005px;
  text-align: center;
  color: #FFFFFF;
}
.logo-header {
  color: #FFFFFF;
  margin-top: 41px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/KONSTRU_T.png);
  width: 102px;
  height: 21px;
}
.logo-header::after {
  content: url(D:/Github/DZ_17dec2020_5lesson/images/Triangle.png);
  margin-left: 83px;
}
.content-nav {
  width: 942px;
  height: 65px;
  margin: auto;
  display: flex;
}
.logo-header-nav {
  color: black;
  margin: auto;
  margin-left: 0px;
  width: 81px;
  height: 17px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/KONSTRUT.png);
}
.logo-header-nav::after {
  content: url(D:/Github/DZ_17dec2020_5lesson/images/Triangle_nav.png);
  margin-left: 64.8px;
}
.menu-nav {
  align-items: center;
  display: flex;
}
.menu-nav ul {
  display: flex;
  justify-content: space-between;
  width: 410px;
}
.menu-nav ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 1.09090912px;
  text-align: center;
}
.menu-nav > ul > li:nth-last-child(4n) {
  color: #00A4E5;
}
nav > .container {
  border: 1px solid #E6E6E6;
}
.content-main {
  height: 520px;
  width: 941px;
  margin: auto;
}
.content-main .title-about-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-main .title-about-main .header-about {
  width: 121px;
  height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.30624986px;
  text-align: center;
  margin-top: 57px;
}
.content-main .title-about-main .header-about__element {
  height: 2px;
  width: 50px;
  border-top: 2px solid #00A4E5;
  margin-top: 10px;
}
.content-main .section-main {
  display: flex;
  margin-top: 80px;
}
.head-text-about {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.18750004px;
  text-align: left;
  color: black;
  width: 405px;
  height: 81px;
}
.head-text-about > span::after {
  content: " Konstruct ";
  color: #91d8f4;
}
.text-about {
  width: 470px;
  height: 316px;
}
.text-about .span-about_up {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0.18750004px;
  text-align: left;
  color: black;
  width: 405px;
  height: 81px;
  margin: -28px -88px;
  text-align: end;
  position: absolute;
}
.text-about .sub-text-about {
  height: 115px;
  width: 405.07623291px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.18750004px;
  text-align: left;
  margin-top: 30px;
}
.plan-about-main {
  display: flex;
  justify-content: space-between;
  width: 470px;
}
.plan-about-main .plan_1 {
  height: 224px;
  width: 140px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/plan_1.png);
}
.plan-about-main .plan_2 {
  height: 224px;
  width: 140px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/plan_2.png);
}
.plan-about-main .plan_3 {
  height: 224px;
  width: 140px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/plan_3.png);
}
.plan-about-main_element {
  height: 58px;
  width: 68px;
  margin: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.18750004px;
  text-align: left;
  color: #FFFFFF;
}
.content-serv {
  height: 446px;
  width: 940px;
  margin: auto;
}
.content-serv .header-serv {
  width: 300px;
}
.content-serv .header-serv .header-serv_title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2.30624986px;
  color: #48555B;
}
.content-serv .header-serv .header-serv_element {
  width: 50px;
  height: 12px;
  border-bottom: 2px solid #91d8f4;
}
.content-serv .text-title-serv {
  height: 80px;
  width: 405.40353394px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  text-align: left;
  color: #48555B;
}
.content-serv .button-serv {
  height: 40px;
  width: 150px;
  font-family: Open Sans;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  background-color: #00a4e5;
  border: solid #00a4e5;
}
.title-serv {
  display: flex;
  justify-content: space-between;
}
.menu-serv {
  display: flex;
  justify-content: space-between;
}
.menu-serv .menu-serv__element {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 330px;
  width: 295px;
  border: 1px solid #E6E6E6;
}
.menu-serv-ico_1 {
  margin-left: 23px;
  height: 75px;
  width: 65.625px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/Bitmap.png);
}
.menu-serv-ico_2 {
  margin-left: 23px;
  height: 75px;
  width: 68.625px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/Bitmap_1.png);
}
.menu-serv-ico_3 {
  margin-left: 23px;
  height: 75px;
  width: 67.625px;
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/Bitmap_2.png);
}
.text-menu-serv {
  margin-left: 23px;
  height: 48px;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42666668px;
  text-align: left;
}
.text-menu-serv__sub {
  margin-left: 23px;
  height: 92px;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.18750004px;
  text-align: left;
}
.background-get {
  background-image: url(D:/Github/DZ_17dec2020_5lesson/images/bg_get.png);
}
.content-get {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 499px;
}
.content-get .space-get {
  height: 60px;
}
.content-get .space-get__bottom {
  height: 180px;
}
.content-get p {
  margin-top: 11px;
}
.header-get {
  height: 72px;
  width: 345px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15000001px;
  text-align: center;
}
.button {
  height: 40px;
  width: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  background-color: #00a4e5;
  border: solid #00a4e5;
}
.background-letter {
  background-color: #171819;
}
.content-letter {
  width: 770px;
  margin: auto;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sign-letter {
  height: 30px;
  width: 216px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.84615391px;
  text-align: center;
  color: #FFFFFF;
}
.in-data-letter {
  width: 397px;
  height: 39px;
  display: flex;
}
.input-letter {
  height: 33px;
  width: 240px;
  border: solid white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.07px;
}
.content-footer {
  height: 245px;
  width: 940px;
  margin: auto;
  display: flex;
}
.background-footer {
  background-color: #141A20;
}
.company-footer {
  width: 311px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.company-footer .logo-header {
  margin: 0px;
}
.company-footer .title-company-footer {
  height: 15px;
  width: 59px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.84615391px;
  text-align: center;
  color: #FFFFFF;
  opacity: 90%;
}
.company-footer .text-footer {
  height: 76px;
  width: 250px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.85000002px;
  text-align: left;
  color: #FFFFFF;
  opacity: 90%;
}
.links-footer {
  width: 265px;
  color: #FFFFFF;
  opacity: 90%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
.links-footer .list-home {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.84615391px;
  text-align: left;
  margin-top: 44px;
}
.links-footer .list-faq {
  font-size: 11px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0.84615391px;
  text-align: left;
  margin-top: 77px;
}
.list-home > li:nth-last-child(6n) {
  font-weight: 400;
  height: 33px;
}
.contact-footer {
  width: 185px;
  color: #FFFFFF;
  opacity: 90%;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.84615391px;
  text-align: left;
}
.ico-footer {
  opacity: 90%;
  width: 90px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 77px;
}
.ico-footer .fab {
  font-size: 12px;
}
.ico-footer a {
  color: #FFFFFF;
  width: 20px;
  height: 20px;
}
.contact-footer > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  margin-top: 40px;
}
.backgrounde-footer-copyright {
  background-color: #171819;
}
.content-copyright {
  width: 1440px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.84615391px;
  text-align: center;
  color: #FFFFFF;
  opacity: 90%;
}
