body {
    background-color: black;
}
.header, .baner, .main {
    background-color: white;
}
.footer {
    background-color: black;
}
.container {
    margin: 0px 30px;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head_title {
    margin: 40px 10px 20px 10px;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
}
.line_title {
    width: 90px;
    border-bottom: solid 1px orange;
}
.sub_title {
    margin:15px 10px;
    text-align: center;
    font-size: small;
}
.baner-content {
    display: flex;
    justify-content: space-around;
    padding: 50px 0px 25px;
}
.menu-1, .menu-2, .menu-3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 35px;
    max-width: 210px;
}
.title-menu {
    font-size: large;
    margin: 40px 5px;
    font-family: cursive;
}
p {
    font-size: small;
    text-align: center;
}
.images-menu {
    padding: 6px;
    border: 2px solid #ffa50075;
    border-radius: 100%;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.header-main_element {
    width: 60px;
    border-bottom: solid 1px white;
}
.header-main {
    margin: 30px 0px;
    font-size: xx-large;
    color: white;
    font-family: fantasy;
}
.header-main_sub {
    margin: 20px 0px;
    color: white;
    font-size: x-small;
}
.header-main_link {
    margin: 20px 0px;
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    font-size: large;
    padding: 7px;
}
.end-footer {
    padding: 12px;
    color: white;
    font-family: cursive;
    text-align: center;
}
.list-footer {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.list-footer__element {
    margin: 10px;
}